@import "../../VARS.scss";

.services {
    margin-top: 84px;
}

.services {
    display: flex;
    // justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;

    .services__text_wraper {
        background-color: $color-background-paper;
        padding: 32px;
        border-radius: 24px;
        flex-basis: calc(66% - 16px);
        // max-width: 1173px;
        flex-grow: 1;
    }

    .services__text {
        margin-top: 27px;
        font-size: $font-size-large;
        color: $color-text;
        line-height: 120%;
        font-weight: 300;
        letter-spacing: -0.5px;
    }
}

.card {
    background-color: $color-background-paper;
    border-radius: 24px;
    flex-basis: calc(33% - 16px);
    min-width: 310px;
    padding: 32px;
    overflow: hidden;
    flex-grow: 1;
    cursor: pointer;

    &:hover &__body_wrapper {
        top: 0;
        transition: all 0.5s;
    }

    @media (min-width: 1100px) {
        &:nth-child(4) {
            flex-basis: calc(33% - 32px);
        }
    }

    @media (max-width: 1100px) {
        flex-basis: calc(50% - 16px);
    }

    &__title {
        font-size: $font-size-exta-medium;
        color: $color-text;
        margin-bottom: 15px;
    }
    &__text {
        font-size: $font-size-extra-small;
        color: $color-text;
        font-family: Work Sans;

        font-weight: 300;
        line-height: 22px;
        letter-spacing: 0.4px;
    }
    &__portfolio {
        display: flex;
        justify-content: space-between;
    }
    &__body_wrapper {
        height: 100%;
        top: 95px;
        position: relative;
        transition: all 0.5s;
    }
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .gfhf {
        margin-bottom: 30px;
    }
    &__portfolio_img {
        position: relative;
        img {
            border-radius: 50%;
            position: absolute;
            right: 0;
        }
        img:nth-child(1) {
            right: 50px;
        }
        img:nth-child(2) {
            right: 25px;
        }
    }
}
.card--active {
    border: 1px solid $border-color;
}

.sup {
    &__text {
        font-size: $font-size-medium;
        color: $color-text;
    }
    &__sup {
        font-size: $font-size-extra-small;
        color: $color-text;
    }
}

.border {
    margin: 23px 0;
    background-color: $color-text;
    display: block;
    height: 1px;
    width: 100%;
}
